<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=.;Initial Catalog=MTH_MSCRM;Integrated Security=True;" name="CRMConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.;Initial Catalog=MTHLaborServices;Integrated Security=True;" name="AlmutahedaLaborDbContext" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="serverUrl" value="https://axmth.almutahidah.com:5555/"/>
    <add key="organization" value="MTH"/>
    <add key="username" value="MTH.CRM"/>
    <add key="password" value="kiKXp8gRczXnVm9ghxcxAg=="/>
    <add key="domain" value="MTH"/>
    <add key="imagesServerUrl" value="https://axmth.almutahidah.com:8000"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="APIServerUrl" value="http://axmth.almutahidah.com:8002/"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UploadPath" value="C:\File\CRM"/>
    <add key="UploadEmployeeVideoPath" value="C:\File\Test\Videos\Employees"/>
    <add key="UserPhotoPath" value="\Images\UserPhoto"/>
    <add key="owin:AppStartup" value="Almutaheda.Web.Startup, Almutaheda.Web"/>
    <add key="OnlineHourlyContractPaymentUrl" value="HourlyContract/Complete"/>
    <add key="OnlinePortalUrl" value="http://axmth.almutahidah.com"/>
    <add key="OnlineFlexibleContractPaymentUrl" value="FlexibleService/Complete"/>
    <add key="VatRate" value="5"/>
    <add key="MSWordhash" value="rfWy1P6vkQL4aobkF6cwDkNA0gk="/>
    <!--Password is: Admin.2015-->
    <add key="MSWordsalt" value="lrLPoIpBCeRjj/1V4SZNpQ=="/>
    <add key="MSWordProviderType" value="rsaFull"/>
    <!--This is Static in MS Office 2010-->
    <add key="MSWordAlgorithmSid" value="4"/>
    <add key="OfflineVisitsUrl" value="hourlyappointment/offlinevisits"/>
    <add key="CustomerMapUrl" value="https://axmth.almutahidah.com:3212/HourlyServiceContract/Maps.aspx?id="/>
    <add key="CRMOnlineHourlyContractPaymentUrl" value="HourlyContract/Complete"/>
    <add key="CreateShiftsServiceUrl" value="https://axmth.almutahidah.com:8000/HourlyServiceContract/HourlyShiftsCreation.asmx"/>
    <add key="BlockEmployeeUrl" value="https://axmth.almutahidah.com:8000/HourlyServiceContract/BlockEmployee.asmx" />
    <add key="FixEmployeeUrl" value="https://axmth.almutahidah.com:8000/HourlyServiceContract/FixEmployee.asmx" />

    <add key="crmOwnerID" value="DF01A139-F1AB-E611-80DD-00155D010C16"/>
  </appSettings>
</configuration>